<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ceadd4">  <td>19/03/29 11:34:21</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeTest(java.lang.String)[pri:0, instance:takeaway.Tests@3315d2d7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1458676188</td>   <td></td> </tr>
<tr bgcolor="ceadd4">  <td>19/03/29 11:34:21</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeTest(java.lang.String)[pri:0, instance:takeaway.Tests@11bd0f3b]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1230834841</td>   <td></td> </tr>
<tr bgcolor="ceadd4">  <td>19/03/29 11:34:28</td>   <td>7294</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:takeaway.Tests@3315d2d7]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1458676188</td>   <td></td> </tr>
<tr bgcolor="ceadd4">  <td>19/03/29 11:34:32</td>   <td>11412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:takeaway.Tests@11bd0f3b]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1230834841</td>   <td></td> </tr>
<tr bgcolor="f7ca97">  <td>19/03/29 11:34:36</td>   <td>15414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tests.happyPath()[pri:0, instance:takeaway.Tests@3315d2d7]">happyPath</td> 
  <td>TestNG-tests-1@1458676188</td>   <td></td> </tr>
<tr bgcolor="f7ca97">  <td>19/03/29 11:34:37</td>   <td>16219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tests.happyPath()[pri:0, instance:takeaway.Tests@11bd0f3b]">happyPath</td> 
  <td>TestNG-tests-2@1230834841</td>   <td></td> </tr>
<tr bgcolor="ceadd4">  <td>19/03/29 11:35:34</td>   <td>72961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod(org.testng.ITestResult)[pri:0, instance:takeaway.Tests@3315d2d7]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1458676188</td>   <td></td> </tr>
<tr bgcolor="ceadd4">  <td>19/03/29 11:35:36</td>   <td>75189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod(org.testng.ITestResult)[pri:0, instance:takeaway.Tests@11bd0f3b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1230834841</td>   <td></td> </tr>
<tr bgcolor="ceadd4">  <td>19/03/29 11:35:39</td>   <td>77741</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.afterTest()[pri:0, instance:takeaway.Tests@3315d2d7]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1458676188</td>   <td></td> </tr>
<tr bgcolor="ceadd4">  <td>19/03/29 11:35:39</td>   <td>77913</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.afterTest()[pri:0, instance:takeaway.Tests@11bd0f3b]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1230834841</td>   <td></td> </tr>
</table>
